src/main/resources/LabUploadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LabUploadWsService" targetNamespace="http://ws.oscarehr.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.oscarehr.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.oscarehr.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="uploadCDL" type="tns:uploadCDL"/>
      <xs:element name="uploadCDLResponse" type="tns:uploadCDLResponse"/>
      <xs:element name="uploadCLS" type="tns:uploadCLS"/>
      <xs:element name="uploadCLSResponse" type="tns:uploadCLSResponse"/>
      <xs:element name="uploadCML" type="tns:uploadCML"/>
      <xs:element name="uploadCMLResponse" type="tns:uploadCMLResponse"/>
      <xs:element name="uploadExcelleris" type="tns:uploadExcelleris"/>
      <xs:element name="uploadExcellerisResponse" type="tns:uploadExcellerisResponse"/>
      <xs:element name="uploadGammaDynacare" type="tns:uploadGammaDynacare"/>
      <xs:element name="uploadGammaDynacareResponse" type="tns:uploadGammaDynacareResponse"/>
      <xs:element name="uploadIHA" type="tns:uploadIHA"/>
      <xs:element name="uploadIHAResponse" type="tns:uploadIHAResponse"/>
      <xs:element name="uploadLifelabs" type="tns:uploadLifelabs"/>
      <xs:element name="uploadLifelabsResponse" type="tns:uploadLifelabsResponse"/>
      <xs:complexType name="uploadExcelleris">
        <xs:sequence>
          <xs:element minOccurs="0" name="file_name" type="xs:string"/>
          <xs:element minOccurs="0" name="contents" type="xs:string"/>
          <xs:element minOccurs="0" name="oscar_provider_no" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadExcellerisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadGammaDynacare">
        <xs:sequence>
          <xs:element minOccurs="0" name="file_name" type="xs:string"/>
          <xs:element minOccurs="0" name="contents" type="xs:string"/>
          <xs:element minOccurs="0" name="oscar_provider_no" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadGammaDynacareResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadCML">
        <xs:sequence>
          <xs:element minOccurs="0" name="file_name" type="xs:string"/>
          <xs:element minOccurs="0" name="contents" type="xs:string"/>
          <xs:element minOccurs="0" name="oscar_provider_no" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadCMLResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadIHA">
        <xs:sequence>
          <xs:element minOccurs="0" name="file_name" type="xs:string"/>
          <xs:element minOccurs="0" name="contents" type="xs:string"/>
          <xs:element minOccurs="0" name="oscar_provider_no" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadIHAResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadCDL">
        <xs:sequence>
          <xs:element minOccurs="0" name="file_name" type="xs:string"/>
          <xs:element minOccurs="0" name="contents" type="xs:string"/>
          <xs:element minOccurs="0" name="oscar_provider_no" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadCDLResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadLifelabs">
        <xs:sequence>
          <xs:element minOccurs="0" name="file_name" type="xs:string"/>
          <xs:element minOccurs="0" name="contents" type="xs:string"/>
          <xs:element minOccurs="0" name="oscar_provider_no" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadLifelabsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadCLS">
        <xs:sequence>
          <xs:element minOccurs="0" name="file_name" type="xs:string"/>
          <xs:element minOccurs="0" name="contents" type="xs:string"/>
          <xs:element minOccurs="0" name="oscar_provider_no" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uploadCLSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadCML">
    <wsdl:part element="tns:uploadCML" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadIHA">
    <wsdl:part element="tns:uploadIHA" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadCDL">
    <wsdl:part element="tns:uploadCDL" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadLifelabsResponse">
    <wsdl:part element="tns:uploadLifelabsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadLifelabs">
    <wsdl:part element="tns:uploadLifelabs" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadCDLResponse">
    <wsdl:part element="tns:uploadCDLResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadCLS">
    <wsdl:part element="tns:uploadCLS" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadCMLResponse">
    <wsdl:part element="tns:uploadCMLResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadExcelleris">
    <wsdl:part element="tns:uploadExcelleris" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadCLSResponse">
    <wsdl:part element="tns:uploadCLSResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadExcellerisResponse">
    <wsdl:part element="tns:uploadExcellerisResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadGammaDynacare">
    <wsdl:part element="tns:uploadGammaDynacare" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadIHAResponse">
    <wsdl:part element="tns:uploadIHAResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadGammaDynacareResponse">
    <wsdl:part element="tns:uploadGammaDynacareResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="LabUploadWs">
    <wsdl:operation name="uploadExcelleris">
      <wsdl:input message="tns:uploadExcelleris" name="uploadExcelleris"/>
      <wsdl:output message="tns:uploadExcellerisResponse" name="uploadExcellerisResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadGammaDynacare">
      <wsdl:input message="tns:uploadGammaDynacare" name="uploadGammaDynacare"/>
      <wsdl:output message="tns:uploadGammaDynacareResponse" name="uploadGammaDynacareResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadCML">
      <wsdl:input message="tns:uploadCML" name="uploadCML"/>
      <wsdl:output message="tns:uploadCMLResponse" name="uploadCMLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadIHA">
      <wsdl:input message="tns:uploadIHA" name="uploadIHA"/>
      <wsdl:output message="tns:uploadIHAResponse" name="uploadIHAResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadCDL">
      <wsdl:input message="tns:uploadCDL" name="uploadCDL"/>
      <wsdl:output message="tns:uploadCDLResponse" name="uploadCDLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadLifelabs">
      <wsdl:input message="tns:uploadLifelabs" name="uploadLifelabs"/>
      <wsdl:output message="tns:uploadLifelabsResponse" name="uploadLifelabsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadCLS">
      <wsdl:input message="tns:uploadCLS" name="uploadCLS"/>
      <wsdl:output message="tns:uploadCLSResponse" name="uploadCLSResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LabUploadWsServiceSoapBinding" type="tns:LabUploadWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadExcelleris">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadExcelleris">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadExcellerisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadGammaDynacare">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadGammaDynacare">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadGammaDynacareResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCML">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadCML">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCMLResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadIHA">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadIHA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadIHAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCDL">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadCDL">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCDLResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadLifelabs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadLifelabs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadLifelabsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCLS">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadCLS">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCLSResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LabUploadWsService">
    <wsdl:port binding="tns:LabUploadWsServiceSoapBinding" name="LabUploadWsPort">
      <soap:address location="http://localhost:8080/oscar-SNAPSHOT/ws/LabUploadService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>